<section class="top-three">
  <h2>🏆 Destaques da Semana</h2>

  <div class="podium">

    <!-- Segundo -->
    <a
      href="https://kyodo.app/s/9Uz7oNBA"
      target="_blank"
      class="podium-card second img-2"
    >
      <div class="info">
        <span class="position">#2</span>
        <h3>Luke Summers</h3>
        <p>598 XP</p>
      </div>
    </a>

    <!-- Primeiro -->
    <a
      href="https://kyodo.app/s/5f5vYtQ6"
      target="_blank"
      class="podium-card first img-1"
    >
      <div class="info">
        <span class="position">#1</span>
        <h3>Luke Summers</h3>
        <p>607 XP</p>
      </div>
    </a>

    <!-- Terceiro -->
    <a
      href="https://kyodo.app/s/pakyMPbI"
      target="_blank"
      class="podium-card third img-3"
    >
      <div class="info">
        <span class="position">#3</span>
        <h3>Larissa Mello</h3>
        <p>165 XP</p>
      </div>
    </a>

  </div>
</section>


