.hero {
  height: 80vh;
  background: url("../public/img/cosmin-georgian-gd3ysFyrsTQ-unsplash.jpg") center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;
}

.hero-content {
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 12px;
}
