.ranking-modelos {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.ranking-modelos th,
.ranking-modelos td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.ranking-modelos th {
  background: #001220;
  color: #fff;
}

.ranking-modelos tbody tr:nth-child(even) {
  background: #f5f5f5;
}
