.top-three {
  padding: 100px 20px;
  text-align: center;
  background-color: #001220;
}

.top-three h2 {
  margin-bottom: 48px;
  font-size: 2.2rem;
  color: #fff;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

/* CARD BASE */
.podium-card {
  width: 220px;
  height: 360px; /* formato Instagram */
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: #fff;

  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);

  transition: transform 0.3s ease;
}

.podium-card:hover {
  transform: translateY(-8px);
}

/* IMAGEM */
.podium-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO */
.podium-card .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7),
    transparent
  );
}

.podium-card .position {
  font-weight: bold;
  font-size: 1.1rem;
}

.podium-card h3 {
  margin: 4px 0;
  font-size: 1.1rem;
}

/* ESCADINHA */
.first {
  height: 400px;
}

.second {
  height: 340px;
}

.third {
  height: 320px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .podium {
    flex-direction: column;
    align-items: center;
  }

  .podium-card {
    width: 90%;
    max-width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .first,
  .second,
  .third {
    height: 360px;
  }
}
/* IMAGENS DO TOP THREE */
.img-1 {
  background-image: url("../public/img/Luke.jpeg");
}

.img-2 {
  background-image: url("../public/img/Arabella.jpeg");
}

.img-3 {
  background-image: url("../public/img/Larissa\ Mello.jpeg");
}

.podium-card {
  background-size: cover;
  background-position: center;
}

